.view {
    background: url("../../../images/1.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.mdb-navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}