h4 {
    color: rgba(154, 161, 255, 0.822);
    text-shadow: 1cm;
}

.modal-header {
    background-color: rgba(255, 149, 149, 0.815);
}

.modal-body {
    background-color: rgba(62, 61, 100, 0.808);
}

.modal-content {
    background-color: rgba(2, 0, 134, 0.158);
    background-attachment: fixed;
    background-image: url('https://www2.ucar.edu/sites/default/files/images/2009/list-of-links/DI00564.jpg');
}

.modal-footer {
    background-color: rgba(154, 161, 255, 0.822);
}