<!-- PYTHON: TIC-TAC-TOE GAME CARD -->
<div class="card" style="width: 15rem;">
  <img class="card-img-top" src="/src/assets/images/2.jpg" alt="Card image cap" style="height:15rem;background-repeat: no-repeat; background-size: cover;">
  <div class="card-body">
      <h5 class="card-title">TIC-TAC-TOE</h5>
      <h6 class="card-subtitle mb-2 text-muted">August 2018</h6>
      <hr>
      <p class="card-text">Python, Pycharm</p>
      <br>
      <button type="button" class="btn btn-outline-secondary btn-block bottom-align">View</button>
  </div>
</div>