<!-- PYTHON: Data Objects -->
<div class="card" style="width: 16rem;">
  <img class="card-img-top" src="/src/assets/images/python-my-work-card.jpg" alt="Card image cap" style="height:15rem;background-repeat: no-repeat; background-size: cover;">
  <div class="card-body">
      <h5 class="card-title">DATA OBJECTS</h5>
      <h6 class="card-subtitle mb-2 text-muted">October 2017</h6>
      <hr>
      <p class="card-text">Repository of Python data objects.</p>
      <br>
      <a target="_blank" href="https://github.com/cheech5/python-data-objects" class="btn btn-primary btn-block bottom-align">View</a>
  </div>
</div>