<!-- EKU Student Employee -->
<div class="card" style="width: 16rem;">
    <img class="card-img-top" src="../../../assets/images/eku.jpg" alt="Card image cap" style="height:15rem;background-repeat: no-repeat; background-size: cover;">
    <div class="card-body">
        <h5 class="card-title">EKU</h5>
        <h6 class="card-subtitle mb-2 text-muted">08/2016 - 05/2018</h6>
        <hr>
        <p class="card-text">AE&T Student Employee</p>
        <br>
        <a target="_blank" href="#" class="btn btn-success btn-block bottom-align">View More</a>
    </div>
  </div>
  