<div class="background-color" data-spy="scroll" data-target="#navbar" data-offset="0">
    <app-header></app-header>
        <!--Main Layout-->
        <main class="container">
            <div class="text-center py-5 container">
                <h1 class="navbar-mwp font-weight-bold" id="navbar-mwp">MyWork</h1>
                <h3>Take a look at My Work with a plethora of different technologies.</h3>
                    <hr>
                    <!--Spied element-->
                    <app-my-work></app-my-work>
                    <!--/.Spied element--> 
             </div>
             <div class="text-center py-5 container">
                    <h1 class="navbar-mcp font-weight-bold" id="navbar-mcp">MyCareer</h1>
                    <hr>
                    <!--Spied element-->
                    <app-my-career></app-my-career>
                    <!--/.Spied element-->
             </div>
            <div class="text-center py-5 container">
                    <h1 class="navbar-hmp font-weight-bold" id="navbar-hmp">HireMe</h1>
                    <hr>
                    <!--Spied element-->
                    <app-hire-me></app-hire-me>
                    <!--/.Spied element-->
             </div>
            </main>
        <!--Main Layout-->
     <app-footer></app-footer>
 </div>

