<div data-spy="scroll" data-target="#navbar" data-offset="0">
<app-header></app-header>
<!--Main Layout-->
<main class="text-center py-5">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
             <!--Spied element-->
                 <app-my-work></app-my-work>
             <!--/.Spied element-->
             </div>
         </div>
     </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--Spied element-->
                <app-hire-me></app-hire-me>
                <!--/.Spied element-->
             </div>
         </div>
     </div>
 </main>
<!--Main Layout-->
<app-footer></app-footer>
</div>

