.background-color {
    background-color: rgb(126, 45, 45)
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    color: white;
}

h3 {
    color: antiquewhite;
}

.navbar-mwp {
    min-height: 100vh;
    padding-top: 2vh
}