<div class="background-color: #efefef" data-spy="scroll" data-target="#navbar" data-offset="0">
    <app-header></app-header>
        <!--Main Layout-->
        <main class="container">
            <section class="navbar-mwp" id="navbar-mwp">
                <h1 class="font-weight-bold">MyWork</h1>
                <h3>Take a look at My Work with a plethora of different technologies.</h3>
                <hr>
                    <!--Spied element-->
                    <app-my-work></app-my-work>
                    <!--/.Spied element--> 
             </section>
            <div class="text-center py-5 container">
                <div class="row">
                    <div class="col-md-12">
                        <!--Spied element-->
                        <app-hire-me></app-hire-me>
                        <!--/.Spied element-->
                        </div>
                    </div>
                </div>
            </main>
        <!--Main Layout-->
     <app-footer></app-footer>
 </div>

