<!-- DEFAULT BUTTON CARD -->
<div class="card" style="width: 15rem;">
  <img class="card-img-top" src="../../../assets/images/3.jpg" alt="Card image cap" style="height:15rem;background-repeat: no-repeat; background-size: cover;">
  <div class="card-body">
      <h5 class="card-title">PROJECT</h5>
      <h6 class="card-subtitle mb-2 text-muted">Month Year</h6>
      <hr>
      <p class="card-text">description...</p>
      <br>
      <a target="_blank" href="#" class="btn btn-outline-secondary btn-block bottom-align">See More</a>
  </div>
</div>
