<!-- Angular.js CLI: Simple recipe book -->
<div class="card" style="width: 16rem;">
  <img class="card-img-top" src="/src/assets/images/recipe-book-card.jpg" alt="Card image cap" style="height:15rem;background-repeat: no-repeat; background-size: cover;">
  <div class="card-body">
      <h5 class="card-title">RECIPE BOOK</h5>
      <h6 class="card-subtitle mb-2 text-muted">June 2018</h6>
      <hr>
      <p class="card-text">Recipe book web application created using Angularjs.</p>
      <br>
      <a target="_blank" href="https://github.com/cheech5/recipe-book" class="btn btn-primary btn-block bottom-align">View</a>
  </div>
</div>